<%- include("header") -%> %>



<div class="heading-container">
    <h1 class="heading">Development Team</h1>
</div>

<div class="about-container">

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-img-container">
                    <img src="./images/rishika.jpg" alt="" class="box-img">
                </div>
                <div class="box-content-container">
                    <div class="box-content-header">
                        <h1 >Rishika</h1>
                    </div>
                    <div class="box-content">
                        I am a Computer Engineering student, determined and ambitious.
Always motivated for learning new things and striving towards
achieving excellence. My strengths shine while working with a team but even while working alone I am
efficient with my ingenious and thoughtful planning.
                    </div>

                    <div class="box-content-links-container">
                    <div class="box-content-links">        
                        <a href="https://www.linkedin.com/in/rishika-tayal"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                        
                    </div>
                    <div class="box-content-links">        
                        <a href="https://github.com/Rishika-Tayal"><i class="fa-brands fa-github fa-3x"></i></a>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="box">
                <div class="box-img-container">
                    <img src="./images/naman.webp" alt="" class="box-img">
                </div>
                <div class="box-content-container">
                    <div class="box-content-header">
                        <h1 >Naman Garg</h1>
                    </div>
                    <div class="box-content">
                        A reliable and detail-orientated individual with a proclivity for time management who is not only responsible but also has a passion for software development and learning new things.
                    </div>

                    <div class="box-content-links-container">
                    <div class="box-content-links">        
                        <a href="https://linkedin.com/in/namangarg155"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                        
                    </div>
                    <div class="box-content-links">        
                        <a href="https://github.com/namangarg2000"><i class="fa-brands fa-github fa-3x"></i></a>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">


        <div class="col-md-6">
            <div class="box">
                <div class="box-img-container">
                    <img src="./images/shikha.jpeg" alt="" class="box-img">
                </div>
                <div class="box-content-container">
                    <div class="box-content-header">
                        <h1 >Shikha</h1>
                    </div>
                    <div class="box-content">
                        A meticulous and organized individual always seeks opportunities to learn and grow with the organization's objective. Proficient in C++, Python, and data analytics.
                    </div>

                    <div class="box-content-links-container">
                    <div class="box-content-links">        
                        <a href="https://www.linkedin.com/in/shikha-b40b3819a"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                        
                    </div>
                    <div class="box-content-links">        
                        <a href="https://github.com/Shikha-goel"><i class="fa-brands fa-github fa-3x"></i></a>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="box-img-container">
                    <img src="./images/manik.jpeg" alt="" class="box-img">
                </div>
                <div class="box-content-container">
                    <div class="box-content-header">
                        <h1 >Manik</h1>
                    </div>
                    <div class="box-content">
                        Enthusiastic computer programmer, eager to contribute to team success through hard work, attention to
                        detail and excellent organizational skills. Motivated to learn and grow in the software industry.
                    </div>

                    <div class="box-content-links-container">
                    <div class="box-content-links">        
                        <a href="https://www.linkedin.com/in/manik-9a3a6a1a5/"><i class="fa-brands fa-linkedin fa-3x"></i></a>
                        
                    </div>
                    <div class="box-content-links">        
                        <a href="https://github.com/Manik-India"><i class="fa-brands fa-github fa-3x"></i></a>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col box">
          <div class="card">
            <img src="./images/rishika.webp" class="card-img-top card-img-cstm" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
        
</div>

<%- include("footer") -%>
