<div class="footer-container">
  <div class="footer">

    <div class="left-footer">
      <div class="list">
        <h1 class="list-heading">Contact Us</h1>
        <ul class="footer-ul">
          <li class="footer-li">
            <i class="fa-solid fa-envelope"></i>
            librarian@thapar.edu
          </li>
          <li class="footer-li">
            <i class="fa-solid fa-phone"></i>
            +91 175 239 3040
          </li>
          <li class="footer-li">
            <i class="fa-solid fa-phone"></i>
            +91 175 239 3141
          </li>
        </ul>
      </div>

      <div class="list">
        <h1 class="list-heading">Library Team</h2>
          <ul class="footer-ul">
            <li class="footer-li">
              <i class="fa-solid fa-envelope"></i>
              helpcl@thapar.edu
            </li>
          </ul>
      </div>
    </div>

    <div class="middle-footer">
      <div class="list">
        <h1 class="list-heading">Other Links</h2>
          <ul class="footer-ul">
            <li class="other-links footer-li">
              <i class="fa-solid fa-anchor"></i>
              <a href="/developmentTeam">Development Team</a>
            </li>
            <li class="other-links footer-li">
              <i class="fa-solid fa-anchor"></i>
              <a href="https://thapar.edu/" target="_blank">Thapar Main Website</a>
            </li>
            <li class="other-links footer-li">
              <i class="fa-solid fa-anchor"></i>
              <a href="https://cl.thapar.edu/" target="_blank">Library Main Website</a>
            </li>
          </ul>
      </div>
    </div>

    <div class="right-footer">
      <img src="images/thaparlogo.png" class="footer-img" alt="">
    </div>



  </div>

  <div class="made-by">
    Made By CPG Number: 105
  </div>
</div>


</body>

</html>
