.about-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #F9F7F7;
}
.box{
    display: flex;
    border-style: solid;
    border-color: #DBE2EF;
    /* max-height: 485px; */
    height: auto;
    
}

.box-img-container{
     
     flex: 0.5;
     
    
}

.box-img{
    width: 325px;
}
.box-content-container{
    flex: 1;
    
}

.box-content-header{
    margin-top: 40px;
    margin-left: 40px;
}

.box-content{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    text-align: justify;
    text-justify: inter-word;
}
.box-content-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content-links{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    text-align: justify;
    text-justify: inter-word;
    
}

.row{
    margin-bottom: 10px;
}

.heading-container{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center!important;
}

.link-img{
    height: 50px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none!important;
    color: inherit !important;
    cursor: pointer;
}