.cards-container{
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center;
    justify-content: space-between; */

}

.card{
  width: 20rem;
  margin: 20px;

}

.cstm-title{
  background-color: #EC994B!important;
}

.card-button{
  background-color: #EC994B!important;
  font-weight: 700!important;
}

.card-button:hover{
  color: white!important;
  background-color: #73777B!important;
}

.card-button:active{
  opacity: 0.7;
}
