body{
    padding: 0;
    /* background-color: #F1EEE9!important; */
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;

}

.home-page-image{
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
}

.image-container{
  background-color: #15133C;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  padding-top: 50px;
  padding-bottom: 50px;
}
