body{
    margin: 0;
    --bs-body-font-family: 'Roboto', sans-serif;;
}

.header-container{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F1EEE9;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F1EEE9;
    height: 100px;
}

.left{
    flex: 1;
    margin-top: 10px;
}
.thaparlogo{
height: 100px;
}
.middle{
    flex: 4;
    color: #15133C;
    font-weight: bold;
    font-size:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{

    flex:1.2;
    display: flex;
}

.bt1{

    flex: 1;

}
.b1{
    background-color: #EC994B!important;
    color: #15133C;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #73777B;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    font-size: 20px;
    font-weight: bold;
}


.b1:hover{
    color: white;
    background-color: #73777B;
}

.b1:active{
    opacity: 0.7;
}

.bt2{
    flex: 1;
}
